* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
  background-color: wheat;
}

.grid-item {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
